<!-- Footer -->
<footer id="footer" class="container">
    <div class="row">
        <div class="12u 12u(mobile)">

            <!-- Links -->
                <section>
                    <header>
                        <h2>Contact</h2>
                    </header>								
                    
                    <div>
                        <div class="row">
                            <div class="2u 12u(mobile)">
                                
                            </div>
                            <div class="2u 12u(mobile)">
                                <ul class="link-list last-child">
                                    <li>Address:</li>
                                    <li>Email:</li>
                                    <li>Homepage:</li>
                                </ul>
                            </div>
                            <div class="8u 12u(mobile)">
                                <ul class="link-list last-child">
                                    <li>No. 19, Shucun Road, Haidian District, Beijing, China. Postcode: 100085</li>
                                    <li>chenkai@iie.ac.cn</li>
                                    <li><a href="http://www.kaichen.org/">http://www.kaichen.org/</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </section>

        </div>
        <!-- Copyright -->
        <div id="copyright">
            &copy; 2015-2023 Kai Chen. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
        </div>
    </div>
</footer>